{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": false,
        "singleQuote": false,
        "jsxBracketSameLine": true,
        "parser": "flow",
        "quoteProps": "consistent",
        "arrowParens": "avoid",
        "insertPragma": true,
        "requirePragma": false,
        "endOfLine": "auto",
        "paddedBlockLines": "never",
        "paddedBlockItems": "never",
        "block-spacing": "always"
      }
    }
  ]
}
